* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial, sans-serif;
    background-image: url('images/header_bg.png');
    background-position: 0 0;
    background-repeat: repeat-x;
}

.container {
    width: 900px;
    margin: 0 auto;
}
nav {
    height:106px;
    margin: 0 0 32px;
}
main {

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li:first-child {
    padding: 18px 5px;
}

nav ul li span {
    display: inline-block;
    width: 17px;
    height: 15px;
    background-image: url('images/menu_home.png');
    background-position: right bottom;
    
}

nav ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 18px;
    border-left: 1px solid #757575;
    border-right: 1px solid #afafaf;
}
nav ul li:first-child a {
    border: none;
}
nav ul li:last-child a {
    border-left: none;
}

.tab {
    position: relative;
    width: 293px;
    height: 355px;
    float: right;
    
}

.tab > img {
    border: 0px solid #fff;
    border-bottom-right-radius: 40px;
}

.text-tab {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 248px;
    height: 97px;
    background-color: rgba( 120, 120, 120, 0.9);
    border: 0px solid #fff;
    border-bottom-right-radius: 40px;
    color: #fff;
}

.text-tab p {
    font-size: 13px;
    line-height: 13px;
    margin-top: 0px;
    padding:  4px 8px 0px;
}
.text-tab h3 {
    font-size: 14px;
    font-weight: bold;
    padding:5px 8px 0 0;
}
.text-tab a {
    font-size: 13px;
    display: block;
    text-align: left;
    color: #fff;
    padding-left: 8px;
}

